.weather-container {
  color: #fff;
  background-color: #333;
  margin: 0 auto 0 auto;
  padding: 30px 0;
}

.top-container,
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.bottom-container {
  margin-top: 10px;
}

.city-name {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.weather-icon {
  width: 90px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
}
