* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  max-height: 100vh;
  font-family: 'Merriweather Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #4dbe72, #3bc2e8);
}
